/*
Style tweaks to react-grid-layout defaults.
We need to use :global() to prevent Next from transforming the classes we are trying to target within RGL. 
Read this to learn more https://stackoverflow.com/a/69541558
*/

.react-grid-layout-custom {
  /* Isolate the z-index shenanigans below to RGL */
  isolation: isolate;
  transition: none !important;
  width: 100%;
}

@media (width < 800px) {
  .react-grid-layout-custom {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.react-grid-item.cssTransforms {
  transition-property: none !important;
}

.react-grid-layout-custom :global(.react-grid-item.react-draggable-dragging) {
  /* Stack dragged items above other items and placeholders */
  z-index: 3;
}

.react-grid-layout-custom :global(.react-grid-item) {
  /* Stack items above placeholders */
  z-index: 2;

  /* when the grid is shown after previously being hidden, an animation from (0,0) in the grid
  with all the widgets will be played, this disables that.
  */
  transition: none !important;
}

.react-grid-layout-custom :global(.react-grid-item.react-grid-placeholder) {
  /* Stack placeholders below dragged items */
  z-index: 1;
  @apply bg-sorbet;
  @apply rounded-3xl;
}
